@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	color: #d4d4d4;
	font-family: 'Montserrat', sans-serif;
	/* mozilla scrollbar */
	scrollbar-color: #a3a3a3 black !important;
	scrollbar-width: thin !important;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: #a3a3a3;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #d4d4d4;
}
::-webkit-scrollbar-track {
	background-color: black;
}
